.chefPicture {
   margin: 2%;
   float: left;
   width: 500px;
   height: 300px;
}
.statment{
   margin: 5%;
}

.statment h1{
   text-align: center;
}

.chef {
   margin: 5%;
}


body{
   font-size: 20px;
}


.pictures{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 15px;
margin: 5% auto;
}

img {
   width: 100%;
   height: auto;
}

.uberdiv{
   display: flex;
   flex-direction: column;
}

.picture-columns{


}