.links a {
  margin: 20px;
  font-size: 84px;
  color: rgb(240, 230, 178);
  text-decoration: none;
}

.details {
  text-align:center;
}

.links {
  text-align:center;
}

.gold{
  color:rgb(250, 234, 157)
}

main {
   background-image: url("../images/salad.jpg");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: 1.5s ease all;
   background-blend-mode:multiply;
}


