body {
  margin: 0;
  font-family: Oswald,sans-serif;
  text-transform: none;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
}

.top-bar, .bottom-bar {
  display: flex;
  justify-content: space-between;
  height: 7vh;
}

header, footer {
  background-color: black;
  color: white;
  
}

footer {
  padding: 4px 0;
}

/* 
the styles below are to be able to get the header and
the footer to have the same distribution of the three
child components. The first and last children are set
to take up 20% of the width, and the center child has
its width set to auto so it will take up the remainder.
we then use flex's justify content to position 
the left to flex-start, the right to flex-end, and the center
to center, so that the header and footer are all aligned.
*/

header .logo, header nav, header .socials,
footer .contact, footer .company, footer .socials {
  display: flex;
}

/* left element */
header .logo, footer .contact {
  width:20%;
  justify-content: flex-start;
}

/* center element */
header nav, footer .company {
  justify-content: center;
  width: auto;
}

/* right element */
header .socials, footer .hours {
  width:20%;
  justify-content: flex-end;
}

ul.social-list {
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: white;
  font-size: 24px;
  margin: 0 8px;
}

.social-link:hover {
  color: #777;
}

footer .contact, footer .hours {
  text-align: center;
  display: flex;
  align-items:flex-start;
}

footer .company {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .company h2 {
  margin-bottom:0;
}


header nav {
  font-size:30px;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;   
}

/* use sibling selector to only add padding between items */
header nav ul li + li {
  padding-left: 40px;
}

header a{
text-decoration: none;
color: rgb(209, 208, 208);

}