.visit-content{
    text-align:center;
    /* width: 400px; */
    /* max-width: 500px;
    min-width: 50px; */
    
    

    
    /* padding-left: 35%; */
}
.wordz{
    font-size: 35px;
    display: grid;
    
}

hr {

    width:80%;
}